a {
  text-decoration: none;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 25px;
  }

.it-desc,
.it-title {
  font-style: normal;
  padding: 0;
}

.it-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  margin: 0 0 10px;
}

.it-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin: 0 0 15px;
  max-width: 590px;
}

.btn {
  border-radius: 4px;
  font-weight: 700;
  text-align: center;
  font-size: 13px;
  text-decoration: none;
  padding: 13px;
  min-width: 130px;
  display: inline-block;
  letter-spacing: 0.5px;
  background-color: primary;
  border: 1px solid cornflowerblue;
}

.unit-info-list {
  margin: 0 0 10px;
  font-size: 15px;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.unit-info-list i {
  min-width: 20px;
  font-size: 20px;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 5px;
}

.card-img {
  display: inline-block;
  object-fit: cover;
}

.card-name {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  height: 34px;
}

.card {
  position: relative;
  overflow: hidden;
  max-width: 255px;
  margin: 0 auto 20px;
  border: 1px solid cornflowerblue;
}

.card-description {
  padding: 15px 20px 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -25px;
  margin-right: -25px;
}

.filtration_block {
  max-width: 26% !important;
}

.aside {
  flex: 0 0 290px;
  max-width: 290px;
  margin-right: 5px;
  padding-top: 5px;
}

.filter {
  border-radius: 3px;
  border: 1px solid cornflowerblue;
}

.filter__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid cornflowerblue;
  margin-bottom: 22px;
  padding: 22px 19px 12px 21px;
}

.filter__reboot, .filter-item__icon {
  width: 25px;
  height: 25px;
  display: block;
  background: url(../assets/delete.svg) 0 0 no-repeat;
  cursor: pointer;
}

.filter__foot {
  display: flex;
  justify-content: space-between;
  padding: 13px 20px 24px;
}

.filter-item {
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid cornflowerblue;
  padding-bottom: 23px;
  margin-bottom: 26px;
}

.filter-item__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.checkbox {
  margin-bottom: -25px;
}

.filter-selector {
  color: white;
  border: 1px solid primary;
  border-radius: 8px;
  padding: 11px;
}

.applicationBtn {
  float: right;
  margin-bottom: 30px;
  margin-right: 15px;
}